.hoverStyle:hover {
    /* color: rgb(220, 200, 21); */
    color: orangered;
    background: white;
    padding: 10px;



}

.icon:hover {
    cursor: pointer;
}

.navlink {
    /* color: rgb(220, 200, 21); */
    color: orangered;
    background: white;
    padding: 10px;
}

.logout:hover {
    cursor: pointer;
}